{#Voir index.html#}
{% extends "./index.html" %}

{# Title #}
{% block title %}Résultats scores{% endblock %}

{# Head #}
{% block head %}
{{ parent() }}

{% endblock %}

{#Content #}
{% block contenu %}
<h2>Fréquentation des joueurs par tailles et couleurs</h2>
<script src="/js/lib/d3.v3.min.js" type="text/javascript"></script>
<script src="/js/circle.js" type="text/javascript"></script>
<script>
	var donnees = [];
	{% for value in donnees %}
		donnees[{{loop.index0}}] = [];
		donnees[{{loop.index0}}][0] = "{% if value[0] is empty%}anonyme{%else%}{{value[0]}}{% endif %}";
		donnees[{{loop.index0}}][1] = {{value[1]}};
		donnees[{{loop.index0}}][2] = {{value[2]}};
		donnees[{{loop.index0}}][3] = {{value[3]}};
	{%endfor%}
	dessiner(donnees); 
</script>
{% endblock %}